In [1]:
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split #, KFold
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.svm import SVC, SVR
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
#from sklearn import preprocessing
from numpy import unravel_index
from matplotlib.colors import ListedColormap
from numpy import linspace
%matplotlib inline

from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from sklearn.metrics import log_loss
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [5]:
#####################
###   load data   ###
#####################

# load datasets
data_path = '/home/philipp/Data/GIS/GIS_merged_SAP/machine_learing/wo_plus_stats.csv'

data = pd.read_csv(data_path, delimiter = ',', index_col=0)

In [6]:
data

,fb,fr,abt,uabt,teilfl,admin,length,area,fly_date,year_fly,...,h_inv_1,h_inv_2,h_inv_3,h_inv_4,h_inv_5,h_inv_6,h_inv_7,h_inv_8,h_inv_9,h_inv_10
0,173,6,122,3,1,604,1286.813599,6356.668921,08.08.2017,2017,...,3.516968,7.033936,10.550903,14.067871,17.584839,21.101807,24.618774,28.135742,31.652710,35.169678
1,173,6,122,8,1,604,109.856964,430.866260,08.08.2017,2017,...,3.218304,5.941308,8.664312,11.387317,14.110321,16.833324,19.556330,22.279333,25.002338,27.725342
2,173,6,122,8,1,604,117.397163,773.459550,08.08.2017,2017,...,5.848419,10.821167,15.793915,20.766663,25.739410,30.712158,35.684906,40.657654,45.630402,50.603149
3,173,6,122,9,1,604,230.075043,2013.067160,08.08.2017,2017,...,4.219903,7.948535,11.677167,15.405798,19.134430,22.863062,26.591694,30.320324,34.048958,37.777588
4,173,6,122,9,2,604,282.932617,4219.614535,08.08.2017,2017,...,1.922235,3.844470,5.766706,7.688941,9.611176,11.533411,13.455646,15.377881,17.300116,19.222351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15603,173,9,301,I,2,616,136.087173,951.279348,08.08.2017,2017,...,3.590576,5.582153,7.573730,9.565308,11.556885,13.548462,15.540039,17.531616,19.523193,21.514771
15604,173,7,98,6,1,605,174.974014,859.473364,08.08.2017,2017,...,2.608936,5.217871,7.826807,10.435742,13.044678,15.653613,18.262548,20.871485,23.480419,26.089355
15605,173,7,98,A,0,605,1587.979126,51749.060487,08.08.2017,2017,...,4.790637,9.581274,14.371912,19.162548,23.953186,28.743824,33.534462,38.325096,43.115734,47.906372
15606,173,7,112,6,1,605,388.244263,3811.350900,08.08.2017,2017,...,2.963214,5.926428,8.889643,11.852857,14.816071,17.779285,20.742498,23.705713,26.668926,29.632141
15607,173,7,98,9,3,605,174.974014,1103.854003,08.08.2017,2017,...,1.956671,3.913342,5.870013,7.826684,9.783356,11.740026,13.696698,15.653369,17.610041,19.566711

In [7]:
data.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area',
       'fly_date', 'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'growth_are', 'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot', 'mass_tot_l',
       'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'year_fe', 'age_diff', 'fly_y', 'fly_m',
       'fly_d', 'cut_ma', 'cut_v_lh', 'cut_v_nh', 'cut_v_nan', 'cut_v_tot',
       'layer', 'h_min', 'h_mean', 'h_median', 'h_max', 'h_pct_10', 'h_pct_20',
       'h_pct_30', 'h_pct_40', 'h_pct_50', 'h_pct_60', 'h_pct_70', 'h_pct_80',
       'h_pct_90', 'h_bin_0', 'h_bin_1', 'h_bin_2', 'h_bin_3', 'h_bin_4',
       'h_bin_5', 'h_bin_6', 'h_bin_7', 'h_bin_8', 'h_bin_9', 'h_inv_0',
       'h_inv_1', 'h_inv_2', 'h_inv_3', 'h_inv_4', 'h_inv_5', 'h_inv_6',
       'h_inv_7', 'h_inv_8', 'h_inv_9', 'h_inv_10'],
      dtype='object')

In [12]:
data_th = data[data['dr'] > 0].copy()

In [17]:
data_th['cut_lh_ha'] = data_th['cut_lh'] / data_th['cut_area']
data_th['cut_nh_ha'] = data_th['cut_nh'] / data_th['cut_area']
data_th['cut_sum_ha'] = data_th['cut_sum'] / data_th['cut_area']

In [20]:
data_thin = data_th[['area',
       'uz', 'economy', 'ww_sw',
       'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'cut_area', 'cut_lh_ha', 'cut_nh_ha', 'cut_sum_ha', 'dr', 'bp',
       'zp', 'ru', 'sg', 'ma', 'h_min', 'h_mean', 'h_median', 'h_max', 'h_pct_10', 'h_pct_20',
       'h_pct_30', 'h_pct_40', 'h_pct_50', 'h_pct_60', 'h_pct_70', 'h_pct_80',
       'h_pct_90', 'h_bin_0', 'h_bin_1', 'h_bin_2', 'h_bin_3', 'h_bin_4',
       'h_bin_5', 'h_bin_6', 'h_bin_7', 'h_bin_8', 'h_bin_9', 'h_inv_0',
       'h_inv_1', 'h_inv_2', 'h_inv_3', 'h_inv_4', 'h_inv_5', 'h_inv_6',
       'h_inv_7', 'h_inv_8', 'h_inv_9', 'h_inv_10']]

In [21]:
data_thin

,area,uz,economy,ww_sw,sea_level,exp,slope,site_type,veg_type,age,...,h_inv_1,h_inv_2,h_inv_3,h_inv_4,h_inv_5,h_inv_6,h_inv_7,h_inv_8,h_inv_9,h_inv_10
9,16800.307010,120,I,W,1100,O,40,23,SW,55,...,3.277905,6.555810,9.833715,13.111621,16.389526,19.667431,22.945337,26.223242,29.501148,32.779053
10,6543.452139,120,I,W,1100,O,45,23,SW,45,...,13.273096,16.029835,18.786572,21.543310,24.300049,27.056787,29.813526,32.570263,35.327003,38.083740
11,14626.360764,120,I,W,1100,O,45,23,SW,45,...,3.981567,7.963135,11.944702,15.926270,19.907837,23.889404,27.870972,31.852539,35.834106,39.815674
12,37611.295499,120,I,W,1100,NO,35,23,SW,40,...,3.230261,5.681958,8.133655,10.585352,13.037048,15.488745,17.940441,20.392139,22.843836,25.295532
13,5053.757752,120,I,W,1100,O,30,23,SW,25,...,2.246375,3.423779,4.601184,5.778589,6.955994,8.133398,9.310803,10.488208,11.665613,12.843018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15596,7078.837082,120,I,W,1400,NO,36,72,AHD,49,...,2.015906,4.031812,6.047717,8.063623,10.079529,12.095434,14.111341,16.127247,18.143152,20.159058
15600,12388.172496,120,I,W,1300,S,58,72,AHD,39,...,5.899304,10.170435,14.441565,18.712696,22.983826,27.254955,31.526087,35.797218,40.068348,44.339478
15601,1698.449713,140,I,W,1300,SW,47,71,AHD,84,...,14.470190,18.966869,23.463551,27.960230,32.456909,36.953590,41.450268,45.946949,50.443626,54.940308
15602,1982.128921,140,I,W,1400,SW,47,72,AHD,59,...,9.461474,12.726049,15.990625,19.255199,22.519775,25.784351,29.048925,32.313499,35.578075,38.842651
15605,51749.060487,140,I,W,800,EB,0,56,W,70,...,4.790637,9.581274,14.371912,19.162548,23.953186,28.743824,33.534462,38.325096,43.115734,47.906372

In [22]:
# economy
dic_economy = {'A':0, 'I':1}
# sw_ww
dic_ww_sw = {'S':0, 'WW':1}
# exposition
dic_exp = {"EB":0, "KU":1, "MU":2, "N":3, "NO":4, "O":5, "SO":6, "S":7, "SW":8, "W":9, "NW":10}

In [37]:
data_thin = data_th[['area',
       'uz',
       'sea_level', 'slope', 'site_type',
       'age', 'BL', 'FI', 'LH', 'NH', 'LA', 'KI', 'DG', 'SK',
       'cut_area', 'cut_lh_ha', 'cut_nh_ha', 'cut_sum_ha', 'dr', 'bp',
       'zp', 'ru', 'sg', 'h_min', 'h_mean', 'h_median', 'h_max', 'h_pct_10', 'h_pct_20',
       'h_pct_30', 'h_pct_40', 'h_pct_50', 'h_pct_60', 'h_pct_70', 'h_pct_80',
       'h_pct_90', 'h_bin_0', 'h_bin_1', 'h_bin_2', 'h_bin_3', 'h_bin_4',
       'h_bin_5', 'h_bin_6', 'h_bin_7', 'h_bin_8', 'h_bin_9', 'h_inv_0',
       'h_inv_1', 'h_inv_2', 'h_inv_3', 'h_inv_4', 'h_inv_5', 'h_inv_6',
       'h_inv_7', 'h_inv_8', 'h_inv_9', 'h_inv_10']]

In [38]:
data_thin

,area,uz,sea_level,slope,site_type,age,BL,FI,LH,NH,...,h_inv_1,h_inv_2,h_inv_3,h_inv_4,h_inv_5,h_inv_6,h_inv_7,h_inv_8,h_inv_9,h_inv_10
9,16800.307010,120,1100,40,23,55,0,90,10,0,...,3.277905,6.555810,9.833715,13.111621,16.389526,19.667431,22.945337,26.223242,29.501148,32.779053
10,6543.452139,120,1100,45,23,45,0,95,5,0,...,13.273096,16.029835,18.786572,21.543310,24.300049,27.056787,29.813526,32.570263,35.327003,38.083740
11,14626.360764,120,1100,45,23,45,0,95,5,0,...,3.981567,7.963135,11.944702,15.926270,19.907837,23.889404,27.870972,31.852539,35.834106,39.815674
12,37611.295499,120,1100,35,23,40,0,50,50,0,...,3.230261,5.681958,8.133655,10.585352,13.037048,15.488745,17.940441,20.392139,22.843836,25.295532
13,5053.757752,120,1100,30,23,25,0,50,50,0,...,2.246375,3.423779,4.601184,5.778589,6.955994,8.133398,9.310803,10.488208,11.665613,12.843018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15596,7078.837082,120,1400,36,72,49,0,100,0,0,...,2.015906,4.031812,6.047717,8.063623,10.079529,12.095434,14.111341,16.127247,18.143152,20.159058
15600,12388.172496,120,1300,58,72,39,0,100,0,0,...,5.899304,10.170435,14.441565,18.712696,22.983826,27.254955,31.526087,35.797218,40.068348,44.339478
15601,1698.449713,140,1300,47,71,84,0,100,0,0,...,14.470190,18.966869,23.463551,27.960230,32.456909,36.953590,41.450268,45.946949,50.443626,54.940308
15602,1982.128921,140,1400,47,72,59,0,100,0,0,...,9.461474,12.726049,15.990625,19.255199,22.519775,25.784351,29.048925,32.313499,35.578075,38.842651
15605,51749.060487,140,800,0,56,70,0,90,10,0,...,4.790637,9.581274,14.371912,19.162548,23.953186,28.743824,33.534462,38.325096,43.115734,47.906372

In [45]:
data_thin = data_thin.fillna(0)

In [46]:
data_thin.shape[0]

2698

In [47]:
###########################
###   preprocess data   ###
###########################

data_thin = shuffle(data_thin, random_state=399)

# filter for experiments
train = data_thin[:int(data_thin.shape[0]*0.8)]
test = data_thin[int(data_thin.shape[0]*0.8):]

X_train = train.drop(['cut_lh_ha', 'cut_nh_ha', 'cut_sum_ha'], axis=1).values
y_train = train['cut_sum_ha'].values
X_test = test.drop(['cut_lh_ha', 'cut_nh_ha', 'cut_sum_ha'], axis=1).values
y_test = test['cut_sum_ha'].values

print("Train: number of instances: {}, number of attributes: {}".format(train.shape[0], train.shape[1]))
print("Test: number of instances: {}, number of attributes: {}".format(test.shape[0], test.shape[1]))

Train: number of instances: 2158, number of attributes: 57
Test: number of instances: 540, number of attributes: 57

In [48]:
############################
###   standardize data   ###
############################

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [49]:
##########################
##########################
###                    ###
###   Classification   ###
###                    ###
##########################
##########################

In [50]:
###########################################
###   SVC - Support Vector Classifier   ###
###########################################

In [66]:
clf = SVR(kernel='rbf', C=100, gamma='auto')
scores = cross_val_score(clf, X_train, y_train, cv=10, n_jobs=6)
print(np.mean(scores), scores)

0.3733204248551897 [0.29451389 0.41812671 0.37955594 0.38068744 0.37605068 0.10623036
 0.4369566  0.43630147 0.51854055 0.3862406 ]

In [62]:
param_grid = [
    {'C': [1, 10, 100, 1000], 'kernel': ['linear']},
    {'C': [1, 10, 100, 1000], 'gamma': ['scale', 'auto'], 'kernel': ['rbf']},
    {'C': [1, 10, 100, 1000], 'gamma': ['scale', 'auto'], 'degree': [2, 3, 4], 'kernel': ['poly']},
    {'C': [1, 10, 100, 1000], 'gamma': ['scale', 'auto'], 'kernel': ['sigmoid']},
 ]

In [63]:
clf = GridSearchCV(SVR(), param_grid, cv=10, n_jobs=6)
clf.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=SVR(), n_jobs=6,
             param_grid=[{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
                         {'C': [1, 10, 100, 1000], 'gamma': ['scale', 'auto'],
                          'kernel': ['rbf']},
                         {'C': [1, 10, 100, 1000], 'degree': [2, 3, 4],
                          'gamma': ['scale', 'auto'], 'kernel': ['poly']},
                         {'C': [1, 10, 100, 1000], 'gamma': ['scale', 'auto'],
                          'kernel': ['sigmoid']}])

In [64]:
print("------------------------------------------------------------------------------------------------------")
print()
print("Best parameters set found on development set: ", clf.best_params_)
print()
print('Best mean cross-validated score:', clf.best_score_)
print()
print("------------------------------------------------------------------------------------------------------")
print("Grid scores for SVM:")
print()
means = clf.cv_results_['mean_test_score']
stds = clf.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, clf.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r"
          % (mean, std * 2, params))

------------------------------------------------------------------------------------------------------

Best parameters set found on development set:  {'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}

Best mean cross-validated score: 0.3733204248551897

------------------------------------------------------------------------------------------------------
Grid scores for SVM:

0.271 (+/-0.171) for {'C': 1, 'kernel': 'linear'}
0.269 (+/-0.172) for {'C': 10, 'kernel': 'linear'}
0.268 (+/-0.168) for {'C': 100, 'kernel': 'linear'}
0.267 (+/-0.169) for {'C': 1000, 'kernel': 'linear'}
0.260 (+/-0.139) for {'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}
0.260 (+/-0.138) for {'C': 1, 'gamma': 'auto', 'kernel': 'rbf'}
0.348 (+/-0.174) for {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}
0.348 (+/-0.173) for {'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}
0.373 (+/-0.211) for {'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}
0.373 (+/-0.209) for {'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}
0.249 (+/-0.194) for {'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}
0.252 (+/-0.191) for {'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}
0.108 (+/-0.078) for {'C': 1, 'degree': 2, 'gamma': 'scale', 'kernel': 'poly'}
0.107 (+/-0.077) for {'C': 1, 'degree': 2, 'gamma': 'auto', 'kernel': 'poly'}
0.116 (+/-0.135) for {'C': 1, 'degree': 3, 'gamma': 'scale', 'kernel': 'poly'}
0.114 (+/-0.133) for {'C': 1, 'degree': 3, 'gamma': 'auto', 'kernel': 'poly'}
-0.112 (+/-0.903) for {'C': 1, 'degree': 4, 'gamma': 'scale', 'kernel': 'poly'}
-0.098 (+/-0.820) for {'C': 1, 'degree': 4, 'gamma': 'auto', 'kernel': 'poly'}
0.186 (+/-0.117) for {'C': 10, 'degree': 2, 'gamma': 'scale', 'kernel': 'poly'}
0.186 (+/-0.118) for {'C': 10, 'degree': 2, 'gamma': 'auto', 'kernel': 'poly'}
0.023 (+/-0.732) for {'C': 10, 'degree': 3, 'gamma': 'scale', 'kernel': 'poly'}
0.032 (+/-0.705) for {'C': 10, 'degree': 3, 'gamma': 'auto', 'kernel': 'poly'}
-0.671 (+/-2.847) for {'C': 10, 'degree': 4, 'gamma': 'scale', 'kernel': 'poly'}
-0.604 (+/-2.547) for {'C': 10, 'degree': 4, 'gamma': 'auto', 'kernel': 'poly'}
0.099 (+/-0.184) for {'C': 100, 'degree': 2, 'gamma': 'scale', 'kernel': 'poly'}
0.103 (+/-0.179) for {'C': 100, 'degree': 2, 'gamma': 'auto', 'kernel': 'poly'}
-0.688 (+/-3.009) for {'C': 100, 'degree': 3, 'gamma': 'scale', 'kernel': 'poly'}
-0.661 (+/-2.979) for {'C': 100, 'degree': 3, 'gamma': 'auto', 'kernel': 'poly'}
-3.917 (+/-11.635) for {'C': 100, 'degree': 4, 'gamma': 'scale', 'kernel': 'poly'}
-3.765 (+/-11.134) for {'C': 100, 'degree': 4, 'gamma': 'auto', 'kernel': 'poly'}
-1.011 (+/-2.550) for {'C': 1000, 'degree': 2, 'gamma': 'scale', 'kernel': 'poly'}
-0.920 (+/-2.194) for {'C': 1000, 'degree': 2, 'gamma': 'auto', 'kernel': 'poly'}
-4.325 (+/-13.085) for {'C': 1000, 'degree': 3, 'gamma': 'scale', 'kernel': 'poly'}
-4.138 (+/-12.759) for {'C': 1000, 'degree': 3, 'gamma': 'auto', 'kernel': 'poly'}
-17.688 (+/-51.781) for {'C': 1000, 'degree': 4, 'gamma': 'scale', 'kernel': 'poly'}
-14.760 (+/-36.866) for {'C': 1000, 'degree': 4, 'gamma': 'auto', 'kernel': 'poly'}
-2.019 (+/-0.864) for {'C': 1, 'gamma': 'scale', 'kernel': 'sigmoid'}
-1.850 (+/-0.780) for {'C': 1, 'gamma': 'auto', 'kernel': 'sigmoid'}
-307.078 (+/-128.603) for {'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}
-289.479 (+/-123.852) for {'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}
-30042.874 (+/-12723.040) for {'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}
-28361.165 (+/-12172.885) for {'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}
-3000691.060 (+/-1274082.243) for {'C': 1000, 'gamma': 'scale', 'kernel': 'sigmoid'}
-2827354.745 (+/-1223145.221) for {'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}

In [ ]:
clf.predict([[1, 1]])

In [67]:
data_thin

,area,uz,sea_level,slope,site_type,age,BL,FI,LH,NH,...,h_inv_1,h_inv_2,h_inv_3,h_inv_4,h_inv_5,h_inv_6,h_inv_7,h_inv_8,h_inv_9,h_inv_10
14718,77502.104483,140,900,47,22,84,0,5,95,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7035,2482.136896,140,1100,47,22,40,0,100,0,0,...,4.175036,8.350073,12.525110,16.700146,20.875183,25.050220,29.225256,33.400291,37.575329,41.750366
9862,3094.160233,100,1000,58,72,40,0,95,0,0,...,10.422729,11.760254,13.097778,14.435303,15.772827,17.110352,18.447876,19.785400,21.122925,22.460449
15525,9405.371477,140,1100,58,22,44,0,90,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15556,8680.241238,140,1000,47,22,49,0,45,5,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416,35291.514067,120,800,27,23,45,0,100,0,0,...,4.488458,8.976916,13.465375,17.953833,22.442291,26.930750,31.419209,35.907665,40.396126,44.884583
5537,11873.736593,120,1200,18,23,45,0,100,0,0,...,3.558643,7.117285,10.675928,14.234571,17.793213,21.351856,24.910498,28.469141,32.027782,35.586426
2943,16134.571138,140,1100,60,23,40,0,70,25,0,...,3.957288,6.322290,8.687292,11.052295,13.417297,15.782300,18.147303,20.512304,22.877308,25.242310
12288,9212.005094,140,1300,58,22,69,0,70,5,0,...,4.405444,7.105322,9.805201,12.505078,15.204956,17.904835,20.604712,23.304590,26.004467,28.704346
14005,18484.532486,120,1400,47,72,59,0,100,0,0,...,4.816992,8.140454,11.463916,14.787378,18.110840,21.434301,24.757763,28.081226,31.404688,34.728149

In [73]:
# prediction with the best preforming model
clf = SVR(kernel='rbf', C=100, gamma='auto')
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
print(y_test[:10], pred[:10])

[50.00000085 76.92307974 50.         53.57142948 46.15384785 72.
 44.44444562 66.66666402 77.41935722 49.99999801] [67.24989368 72.73943198 49.464642   61.74764743 53.14658583 86.71350038
 53.36507736 73.36874896 74.74755978 81.77157215]